<center><img src="https://i.imgur.com/hkb7Bq7.png" width="500"></center>


### **Prof. José Manuel Magallanes, PhD**

* Professor, Departamento de Ciencias Sociales, Pontificia Universidad Católica del Perú, [jmagallanes@pucp.edu.pe](mailto:jmagallanes@pucp.edu.pe)

* Visiting Professor, Evans School of Public Policy and Governance / Senior Data Science Fellow, eScience Institute, University of Washington, [magajm@uw.edu](mailto:magajm@uw.edu)
_____

_____

<a id='home'></a>

# Introduction to Python

### Using Python for Pre Processing

In the session we will see the use of Python to:

1. Collect data as dataframes into Python

2. Preprocess a data frame:
    * [Fix column names](#fixcolnames)
    * [Subset data](#subset)    
    * [Look for non-standar missing values](#lookfornas)
    * [Missing values](#missingcellvalues)
    * [Format data types](#formatdtypes)


3. Merge both tables:
    * [Basic merge](#merging)
    * [Fuzzy merge](#fuzzmerging)


4. Prepare a file for further analysis
    * [Scaling](#scaling)
    * [Exporting](#exporting)

## 1. Collect data tables into Python

I have the data in a cloud folder, which I downloadded from this [link](https://hdr.undp.org/data-center/documentation-and-downloads) (_Table 1_).

In [1]:
# Location of data file
linkFile="https://github.com/eScienceWinterSchool/PythonSession/raw/master/data/HDR21-22_Statistical_Annex_HDI_Table.xlsx"

Reading in a table from a file using pandas, since it is an Excel file, I requires **openpyxl**:

In [2]:
# available in my computer?
!pip show openpyxl

Name: openpyxl
Version: 3.0.10
Summary: A Python library to read/write Excel 2010 xlsx/xlsm files
Home-page: https://openpyxl.readthedocs.io
Author: See AUTHORS
Author-email: charlie.clark@clark-consulting.eu
License: MIT
Location: /Users/JoseManuel/opt/anaconda3/envs/WinterSchool-3_11/lib/python3.11/site-packages
Requires: et_xmlfile
Required-by:

If not available, please go to Anaconda and install it. Once installed, or if available, continue:

In [4]:
# choose the right function:
import pandas as pd

hdiFile=pd.read_excel(linkFile)

Take a look (as it is in Excel, it might be a good idea to see it in from Excel too)

In [5]:
hdiFile

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

[Home](#home)
______

______

## 2.  Pre Processing

<a id='fixcolnames'></a>

### Fix column names

Notice that we do not have the right column names. So we need to save them before we go on:

In [6]:
hdiFile.iloc[[3,4],:]

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN

As you see, the column names are in different positions:

In [9]:
# here
hdiFile.iloc[3,2:]

Unnamed: 2             Human Development Index (HDI)
Unnamed: 3                                        NaN
Unnamed: 4                   Life expectancy at birth
Unnamed: 5                                        NaN
Unnamed: 6                Expected years of schooling
Unnamed: 7                                        NaN
Unnamed: 8                    Mean years of schooling
Unnamed: 9                                        NaN
Unnamed: 10    Gross national income (GNI) per capita
Unnamed: 11                                       NaN
Unnamed: 12        GNI per capita rank minus HDI rank
Unnamed: 13                                       NaN
Unnamed: 14                                  HDI rank
Name: 3, dtype: object

In [10]:
# and here
hdiFile.iloc[4,:2]

Back                                                    HDI rank
Table 1. Human Development Index and its components      Country
Name: 4, dtype: object

Can we _concatenate_ those values?

In [11]:
# save column names 
RealHeaders=hdiFile.iloc[4,:2]+hdiFile.iloc[3,2:]
# these are:
RealHeaders

Back                                                    NaN
Table 1. Human Development Index and its components     NaN
Unnamed: 10                                             NaN
Unnamed: 11                                             NaN
Unnamed: 12                                             NaN
Unnamed: 13                                             NaN
Unnamed: 14                                             NaN
Unnamed: 2                                              NaN
Unnamed: 3                                              NaN
Unnamed: 4                                              NaN
Unnamed: 5                                              NaN
Unnamed: 6                                              NaN
Unnamed: 7                                              NaN
Unnamed: 8                                              NaN
Unnamed: 9                                              NaN
dtype: object

It is easier if we have lists, so we use **.to_list()**:

In [12]:
# save column names turned to lists
RealHeaders=hdiFile.iloc[4,:2].to_list()+hdiFile.iloc[3,2:].to_list()
# these are:
RealHeaders

['HDI rank',
 'Country',
 'Human Development Index (HDI) ',
 nan,
 'Life expectancy at birth',
 nan,
 'Expected years of schooling',
 nan,
 'Mean years of schooling',
 nan,
 'Gross national income (GNI) per capita',
 nan,
 'GNI per capita rank minus HDI rank',
 nan,
 'HDI rank']

Let's see how it looks now:

In [13]:
# rename all the columns
hdiFile.columns=RealHeaders

# result
hdiFile.head()

,HDI rank,Country,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN

Notice the repeated column names (HDI rank) and _NaN_. Notice also that we do not need the last three columns. Let's solve that:

In [14]:
# without the last 3 columns
hdiFile.iloc[:,:-3]

,HDI rank,Country,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We use the previous result to rewrite the original:

In [15]:
# then,
hdiFile=hdiFile.iloc[:,:-3]

We still have column names with missing values:

In [16]:
hdiFile.columns

Index([                              'HDI rank',
                                      'Country',
               'Human Development Index (HDI) ',
                                            nan,
                     'Life expectancy at birth',
                                            nan,
                  'Expected years of schooling',
                                            nan,
                      'Mean years of schooling',
                                            nan,
       'Gross national income (GNI) per capita',
                                            nan],
      dtype='object')

...let's get rid of those:

In [17]:
#
hdiFile.columns.dropna()

Index(['HDI rank', 'Country', 'Human Development Index (HDI) ',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Gross national income (GNI) per capita'],
      dtype='object')

In [18]:
BetterHeaders=hdiFile.columns.dropna()
#result
BetterHeaders

Index(['HDI rank', 'Country', 'Human Development Index (HDI) ',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Gross national income (GNI) per capita'],
      dtype='object')

In [19]:
#subsetting again

hdiFile=hdiFile.loc[:,BetterHeaders]
hdiFile.head(20)

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita
4,HDI rank,Country,Value,(years),(years),(years),(2017 PPP $)
5,NaN,NaN,2021,2021,2021,2021,2021
6,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN
7,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
8,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
9,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981
10,4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454
11,5,Australia,0.951,84.5265,21.05459,12.72682,49238.43335
12,6,Denmark,0.948,81.3753,18.7148,12.96049,60364.78595
13,7,Sweden,0.947,82.9833,19.41853,12.60972,54489.37401
14,8,Ireland,0.945,81.9976,18.945221,11.582223,76168.98443
15,9,Germany,0.942,80.6301,17.010139,14.090967,54534.21682
16,10,Netherlands,0.941,81.6873,18.693165,12.58163,55979.411
17,11,Finland,0.94,82.0381,19.051929,12.87362,49452.16672
18,12,Singapore,0.939,82.7545,16.524321,11.92488,90918.64471
19,13,Belgium,0.937,81.8787,19.604219,12.37568,52293.39977

Notice above that the columns:
* Have acronyms in parenthesis.
* Have spaces between words.

Let's see what can be done using _Regular Expressions_ (REGEX):

In [20]:
# bye anything between parentheses
hdiFile.columns.str.replace('\(.+\)',"", regex=True)

Index(['HDI rank', 'Country', 'Human Development Index  ',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Gross national income  per capita'],
      dtype='object')

In [21]:
# bye anything between parentheses, bye leading-trailing spaces
hdiFile.columns.str.replace('\(.+\)',"", regex=True).str.strip()

Index(['HDI rank', 'Country', 'Human Development Index',
       'Life expectancy at birth', 'Expected years of schooling',
       'Mean years of schooling', 'Gross national income  per capita'],
      dtype='object')

In [22]:
# bye anything between parentheses, bye leading-trailing spaces, title case
hdiFile.columns.str.replace('\(.+\)',"", regex=True).\
                          str.strip().\
                          str.title()

Index(['Hdi Rank', 'Country', 'Human Development Index',
       'Life Expectancy At Birth', 'Expected Years Of Schooling',
       'Mean Years Of Schooling', 'Gross National Income  Per Capita'],
      dtype='object')

Let's keep this last one for a while:

In [ ]:
#changing column names
hdiFile.columns=hdiFile.columns.str.replace('\(.+\)',"", regex=True).\
                          str.strip().\
                          str.title()
#so
hdiFile

Now, it is time to decide how the we want as the shorter column name:

* Same title without spaces:

In [ ]:
hdiFile.columns.str.replace(" ",'',regex=False)

* Some acronyms: Let's do this step by step.

In [ ]:
# each column names splitted:
[name.split() for name in hdiFile.columns[2::]]

In [ ]:
# first letter of each word
[[word[0] for word in name.split()] for name in hdiFile.columns[2::]]

In [ ]:
# final result
[''.join([word[0] for word in name.split()]) for name in hdiFile.columns[2::]]

Let's keep the last alternative:

In [ ]:
newNames=[''.join([word[0] for word in name.split()]) for name in hdiFile.columns[2::]]
hdiFile.columns=hdiFile.columns[:2].to_list()+newNames

Finally...

In [ ]:
hdiFile.head(20)

[Home](#home)
______

<a id='subset'></a>

### Subset data

After becoming familar with the data, we know we should keep countries with ranking value:

In [ ]:
hdiFile[~pd.isna(hdiFile['Hdi Rank'])]

In [ ]:
# then
hdiFile=hdiFile[~pd.isna(hdiFile['Hdi Rank'])]

#see
hdiFile

We still have a bad row data:

In [ ]:
hdiFile.drop(index=4)

We just drop it:

In [ ]:
hdiSubset=hdiFile.drop(index=4)
hdiSubset.reset_index(drop=True, inplace=True)
#see
hdiSubset

[Home](#home)
______

<a id='lookfornas'></a>

### Look for non-standar missing values

First check a cell that is full of non-word/non-digit characters:

Using **try**:

In [ ]:
for i in range(hdiSubset.shape[1]):
    try:
        print(hdiSubset.iloc[:,i][hdiSubset.iloc[:,i].str.fullmatch("\W+",na=False)])
    except:
        pass

We do not have weird symbols, but if we had:

In [ ]:
# replacing !

badSymbols=["..",'xx','tba']
hdiSubset.replace(to_replace=badSymbols,
               value=None,
               inplace=True)

#result
hdiSubset

[Home](#home)
______

<a id='missingcellvalues'></a>

### Missing values

Do the current cell values have issues?

* Keeping complete data

In [ ]:
# with all missing (after the first column)
hdiSubset[hdiSubset.iloc[:,1:].isna().all(axis=1)]

In [ ]:
# with at least one missing (after the first column)
hdiSubset[hdiSubset.iloc[:,1:].isna().any(axis=1)]

* Making sure columns of _text_ are clean:

In [ ]:
# get rid of leading and trailing spaces in text cells
hdiSubset.Country=hdiSubset.Country.str.strip()

* Checking  numeric columns

In [ ]:
hdiSubset.drop(columns=['Country'], axis=0).info()

Numbers have been recognised as **object** type. It might be due to having a non numeric value in one cell, or because it **had** a non-numeric value before.

In [ ]:
# can you apply math?
hdiSubset.drop(columns=['Country'], axis=0).max()

You just need to give format.

In [ ]:
hdiClean=hdiSubset.copy()

[Home](#home)
______

<a id='formatdtypes'></a>

### Formatting

From above, we just need to format the numeric columns:

* **Formatting into numeric type**:

In [ ]:
# keep all numeric columns

allCols=hdiClean.columns.to_list()
allCols.remove('Country')
allCols

In [ ]:
# as easy as:
hdiClean[allCols]=hdiClean[allCols].apply(pd.to_numeric)

In [ ]:
#recheck
hdiClean.info()

That was easy!

In [ ]:
hdiFormat=hdiClean.copy()

[Home](#home)
______


## 3. Integrating

Let me bring another table, this time from [wikipedia](https://en.wikipedia.org/wiki/The_Economist_Democracy_Index#Components). Make sure to have **html5lib** and **beautifulsoup4** installed before the next code:

In [ ]:
linkwiki='https://en.wikipedia.org/wiki/The_Economist_Democracy_Index'
sortableTables=pd.read_html(io=linkwiki,flavor='bs4',attrs={"class": "wikitable sortable"})

# we got
type(sortableTables), len(sortableTables)

In [ ]:
# let's see the third one
sortableTables[2]

In [ ]:
# this the one
demoTable=sortableTables[2].copy()

# check columns
demoTable.columns.to_list()

In [ ]:
demoTable.columns.str.contains('Δ')

In [ ]:
demoTable.columns[~demoTable.columns.str.contains('Δ')]

In [ ]:
# keep some:
someCols=demoTable.columns[~demoTable.columns.str.contains('Δ')]

#subset
demoSub=demoTable[someCols].copy()

#then
demoSub

In [ ]:
demoSub.info()

[Home](#home)
______

<a id='merging'></a>

### Basic merging

If we are confident we did a good cleaning and formatting, this step should be easy:

In [ ]:
# left_on= / right_on NOT NEEDED (only when column names differ)
hdiFormat.merge(demoSub,left_on='Country', right_on='Country')

Notice the amount of rowd **returned above**, and compare it with the amount of rows in each data frame:

In [ ]:
len(hdiFormat),len(demoSub)

If you do not want to check country names, you stop here.

[Home](#home)
______

<a id='fuzzmerging'></a>

### Fuzzy Merge


The smallest amount of rows between two tables, is the maximum amount you expect after the merge. Let's check the key values that were not matched:

In [ ]:
onlyHDI=set(hdiFormat.Country)-set(demoSub.Country)
onlyDEMO=set(demoSub.Country)-set(hdiFormat.Country)

In [ ]:
onlyHDI

In [ ]:
onlyDEMO

The previous objects (onlyDEMO, onlyHDI) inform the values not matched in the other data frames. 
If you want to recover some of these values, you may follow these steps (you may need to install **thefuzz**):

In [ ]:
from thefuzz import process as fz

# take a country from onlyDEMO
# and get the country that matches the most in OnlyHDI

[(demo,fz.extractOne(demo, onlyHDI)) for demo in sorted(onlyDEMO)]

You will not get the best outcome in this step, so you just need to keep the 'safe' matches:

In [ ]:
[(demo,fz.extractOne(demo, onlyHDI)) for demo in sorted(onlyDEMO) \
 if fz.extractOne(demo, onlyHDI)[1]>=90]

The next step is replace the cells values in one of the data frames.
For that, you need to create a **dictionary of changes**:

In [ ]:
# this dictionary is prepared for HDI data:
{demo:fz.extractOne(demo, onlyHDI)[0] for demo in sorted(onlyDEMO) \
 if fz.extractOne(demo, onlyHDI)[1]>=90}

In [ ]:
# NOW create the dict and make the changes
changesDEMO={demo:fz.extractOne(demo, onlyHDI)[0] for demo in sorted(onlyDEMO) \
             if fz.extractOne(demo, onlyHDI)[1]>=90}

# replace in democracy

demoSub.Country.replace(to_replace=changesDEMO,inplace=True)

In [ ]:
# did you get more rows?
hdiFormat.merge(demoSub)

If you redo this process, you may recover more rows. I will not do it here, but you are welcome to.

In [ ]:
# hint: start with these two lines!
onlyHDI=set(hdiFormat.Country)-set(demoSub.Country)
onlyDEMO=set(demoSub.Country)-set(hdiFormat.Country)
#check
[(demo,fz.extractOne(demo, onlyHDI)) for demo in sorted(onlyDEMO)]

We can do some changes manually:

In [ ]:
changesDEMO={'Cape Verde':'Cabo Verde',
             'Czech Republic':'Czechia',
             'East Timor':'Timor-Leste',
             'Ivory Coast':"Côte d'Ivoire",
             'Laos':"Lao People's Democratic Republic", 
             'South Korea':'Korea (Republic of)',
            'Turkey':'Türkiye'}

# replace in democracy

demoSub.Country.replace(to_replace=changesDEMO,inplace=True)

That was the best that could be done:

In [ ]:
hdidem=hdiFormat.merge(demoSub)

The format should still be good:

In [ ]:
hdidem.info()

[Home](#home)
______


## Prepare file for further work

<a id='scaling'></a>

###  Scaling

It would be good to check the range of values of your numeric data. You can simply use **describe** (just requesting _min_ and _max_):

In [ ]:
hdidem.describe().loc[['min','max']].T #T for transposing

As you see different ranges, it would be good to request a **boxplot** (make sure to install **matplotlib** if not previously installed)

In [ ]:
import matplotlib.pyplot as plt

hdidem.plot(kind='box', rot=90,fontsize=5)
plt.semilogy();

Notice that our concern is the numeric data. In case of categorical it is unusual to worry about it, but some cases might need some thinking.

Let me get the column names of the numeric columns:

In [ ]:
import numpy as np

colsToScale = hdidem.select_dtypes([np.number]).columns

colsToScale

Time to produce new ranges (make sure you have previously install **scikit-learn**):

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df_minmax = scaler.fit_transform(hdidem.loc[:,colsToScale].to_numpy())
df_scaled = pd.DataFrame(df_minmax, columns=colsToScale)

Let's explore the result:

In [ ]:

df_scaled.describe().loc[['min','max']].T

In [ ]:
df_scaled.plot(kind='box', rot=90,fontsize=5);

Let's add a suffix to the column names:

In [ ]:
df_scaled.columns=df_scaled.columns+"_mM"

In [ ]:
# concat to the right (instead of bottom) with axis=1
pd.concat([hdidem,df_scaled],axis=1)

So this is our last version:

In [ ]:
hdidem_plus=pd.concat([hdidem,df_scaled],axis=1)

[Home](#home)
______


<a id='exporting'></a>

### Exporting

#### For future use in Python:

In [ ]:
hdidem_plus_plus.to_pickle("hdidem_plus.pkl")
# you will need: DF=pd.read_pickle("hdidem_plus.pkl")
# or:
# from urllib.request import urlopen
# DF=pd.read_pickle(urlopen("https://...../hdidem_plus.pkl"),compression=None)

#### For future  use in R:

In [ ]:
!pip show rpy2

In [ ]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(hdidem_plus,file="hdidem_plus.RDS")

#In R, you call it with: DF = readRDS("hdidem_plus.RDS")
#or, if read from cloud: DF = readRDS(url("https://...../hdidem_plus.RDS")